
*.gz
3rd/boost_build.sh
3rd/log4cpp/.cvsignore
3rd/log4cpp/aclocal.m4
3rd/log4cpp/AUTHORS
3rd/log4cpp/autogen.sh
3rd/log4cpp/bcb5/bcb5.bpg
3rd/log4cpp/bcb5/bcb5.mak
3rd/log4cpp/bcb5/log4cpp/log4cpp.bpf
3rd/log4cpp/bcb5/log4cpp/log4cpp.bpr
3rd/log4cpp/bcb5/log4cpp/log4cpp.mak
3rd/log4cpp/bcb5/log4cpp/Makefile.am
3rd/log4cpp/bcb5/Makefile.am
3rd/log4cpp/bcb5/testCategory/Makefile.am
3rd/log4cpp/bcb5/testCategory/testCategory.bpf
3rd/log4cpp/bcb5/testCategory/testCategory.bpr
3rd/log4cpp/bcb5/testCategory/testCategory.mak
3rd/log4cpp/bcb5/testConfig/Makefile.am
3rd/log4cpp/bcb5/testConfig/testConfig.bpf
3rd/log4cpp/bcb5/testConfig/testConfig.bpr
3rd/log4cpp/bcb5/testConfig/testConfig.mak
3rd/log4cpp/bcb5/testFixedContextCategory/Makefile.am
3rd/log4cpp/bcb5/testFixedContextCategory/testFixedContextCategory.bpf
3rd/log4cpp/bcb5/testFixedContextCategory/testFixedContextCategory.bpr
3rd/log4cpp/bcb5/testFixedContextCategory/testFixedContextCategory.mak
3rd/log4cpp/bcb5/testmain/Makefile.am
3rd/log4cpp/bcb5/testmain/testmain.bpf
3rd/log4cpp/bcb5/testmain/testmain.bpr
3rd/log4cpp/bcb5/testmain/testmain.mak
3rd/log4cpp/bcb5/testNDC/Makefile.am
3rd/log4cpp/bcb5/testNDC/testNDC.bpf
3rd/log4cpp/bcb5/testNDC/testNDC.bpr
3rd/log4cpp/bcb5/testNDC/testNDC.mak
3rd/log4cpp/bcb5/testPattern/Makefile.am
3rd/log4cpp/bcb5/testPattern/testPattern.bpf
3rd/log4cpp/bcb5/testPattern/testPattern.bpr
3rd/log4cpp/bcb5/testPattern/testPattern.mak
3rd/log4cpp/ChangeLog
3rd/log4cpp/CMakeLists.txt
3rd/log4cpp/config/.cvsignore
3rd/log4cpp/config/config.guess
3rd/log4cpp/config/config.sub
3rd/log4cpp/config/depcomp
3rd/log4cpp/config/install-sh
3rd/log4cpp/config/ltmain.sh
3rd/log4cpp/config/Makefile.am
3rd/log4cpp/config/missing
3rd/log4cpp/config/mkinstalldirs
3rd/log4cpp/configure
3rd/log4cpp/configure.in
3rd/log4cpp/COPYING
3rd/log4cpp/doc/.cvsignore
3rd/log4cpp/doc/Doxyfile.in
3rd/log4cpp/doc/html/default.css
3rd/log4cpp/doc/html/index.html
3rd/log4cpp/doc/html/Makefile.am
3rd/log4cpp/doc/html/sflogo.png
3rd/log4cpp/doc/mainPage.txt
3rd/log4cpp/doc/Makefile.am
3rd/log4cpp/include/.cvsignore
3rd/log4cpp/include/config.h.in
3rd/log4cpp/include/config.h.in~
3rd/log4cpp/include/log4cpp/.cvsignore
3rd/log4cpp/include/log4cpp/AbortAppender.hh
3rd/log4cpp/include/log4cpp/Appender.hh
3rd/log4cpp/include/log4cpp/AppendersFactory.hh
3rd/log4cpp/include/log4cpp/AppenderSkeleton.hh
3rd/log4cpp/include/log4cpp/BasicConfigurator.hh
3rd/log4cpp/include/log4cpp/BasicLayout.hh
3rd/log4cpp/include/log4cpp/BufferingAppender.hh
3rd/log4cpp/include/log4cpp/Category.hh
3rd/log4cpp/include/log4cpp/CategoryStream.hh
3rd/log4cpp/include/log4cpp/config-MinGW32.h
3rd/log4cpp/include/log4cpp/config-openvms.h
3rd/log4cpp/include/log4cpp/config-win32-stlport-boost.h
3rd/log4cpp/include/log4cpp/config-win32.h
3rd/log4cpp/include/log4cpp/config.h
3rd/log4cpp/include/log4cpp/Configurator.hh
3rd/log4cpp/include/log4cpp/convenience.h
3rd/log4cpp/include/log4cpp/DailyRollingFileAppender.hh
3rd/log4cpp/include/log4cpp/Export.hh
3rd/log4cpp/include/log4cpp/FactoryParams.hh
3rd/log4cpp/include/log4cpp/FileAppender.hh
3rd/log4cpp/include/log4cpp/Filter.hh
3rd/log4cpp/include/log4cpp/FixedContextCategory.hh
3rd/log4cpp/include/log4cpp/HierarchyMaintainer.hh
3rd/log4cpp/include/log4cpp/IdsaAppender.hh
3rd/log4cpp/include/log4cpp/Layout.hh
3rd/log4cpp/include/log4cpp/LayoutAppender.hh
3rd/log4cpp/include/log4cpp/LayoutsFactory.hh
3rd/log4cpp/include/log4cpp/LevelEvaluator.hh
3rd/log4cpp/include/log4cpp/LoggingEvent.hh
3rd/log4cpp/include/log4cpp/Makefile.am
3rd/log4cpp/include/log4cpp/Manipulator.hh
3rd/log4cpp/include/log4cpp/NDC.hh
3rd/log4cpp/include/log4cpp/NTEventLogAppender.hh
3rd/log4cpp/include/log4cpp/OstreamAppender.hh
3rd/log4cpp/include/log4cpp/PassThroughLayout.hh
3rd/log4cpp/include/log4cpp/PatternLayout.hh
3rd/log4cpp/include/log4cpp/Portability.hh
3rd/log4cpp/include/log4cpp/Priority.hh
3rd/log4cpp/include/log4cpp/PropertyConfigurator.hh
3rd/log4cpp/include/log4cpp/RemoteSyslogAppender.hh
3rd/log4cpp/include/log4cpp/RollingFileAppender.hh
3rd/log4cpp/include/log4cpp/SimpleConfigurator.hh
3rd/log4cpp/include/log4cpp/SimpleLayout.hh
3rd/log4cpp/include/log4cpp/SmtpAppender.hh
3rd/log4cpp/include/log4cpp/StringQueueAppender.hh
3rd/log4cpp/include/log4cpp/SyslogAppender.hh
3rd/log4cpp/include/log4cpp/threading/BoostThreads.hh
3rd/log4cpp/include/log4cpp/threading/DummyThreads.hh
3rd/log4cpp/include/log4cpp/threading/Makefile.am
3rd/log4cpp/include/log4cpp/threading/MSThreads.hh
3rd/log4cpp/include/log4cpp/threading/OmniThreads.hh
3rd/log4cpp/include/log4cpp/threading/PThreads.hh
3rd/log4cpp/include/log4cpp/threading/Threading.hh
3rd/log4cpp/include/log4cpp/TimeStamp.hh
3rd/log4cpp/include/log4cpp/TriggeringEventEvaluator.hh
3rd/log4cpp/include/log4cpp/TriggeringEventEvaluatorFactory.hh
3rd/log4cpp/include/log4cpp/Win32DebugAppender.hh
3rd/log4cpp/include/Makefile.am
3rd/log4cpp/INSTALL
3rd/log4cpp/jamfile
3rd/log4cpp/log4cpp-config.in
3rd/log4cpp/log4cpp.cfg
3rd/log4cpp/log4cpp.m4
3rd/log4cpp/log4cpp.pc.in
3rd/log4cpp/log4cpp.spec.in
3rd/log4cpp/m4/.cvsignore
3rd/log4cpp/m4/AC_C_INT64_T.m4
3rd/log4cpp/m4/ac_config_libconfig_in.m4
3rd/log4cpp/m4/ac_config_pkgconfig_in.m4
3rd/log4cpp/m4/AC_CREATE_PREFIX_CONFIG_H.m4
3rd/log4cpp/m4/AC_CXX_HAVE_SSTREAM.m4
3rd/log4cpp/m4/AC_CXX_NAMESPACES.m4
3rd/log4cpp/m4/AC_FUNC_SNPRINTF.m4
3rd/log4cpp/m4/ACX_PTHREAD.m4
3rd/log4cpp/m4/BB_CHECK_OMNITHREADS.m4
3rd/log4cpp/m4/BB_CHECK_PTHREADS.m4
3rd/log4cpp/m4/BB_ENABLE_DOXYGEN.m4
3rd/log4cpp/m4/BB_ENABLE_REMOTE_SYSLOG.m4
3rd/log4cpp/m4/BB_ENABLE_SMTP.m4
3rd/log4cpp/m4/PETI_PEDANTIC_GCC.m4
3rd/log4cpp/Makefile.am
3rd/log4cpp/msvc10/.cvsignore
3rd/log4cpp/msvc10/log4cpp/.cvsignore
3rd/log4cpp/msvc10/log4cpp/log4cpp.vcxproj
3rd/log4cpp/msvc10/log4cpp_stlport_boost/log4cpp_stlport_boost.vcproj
3rd/log4cpp/msvc10/log4cpp_stlport_boost/readme.txt
3rd/log4cpp/msvc10/log4cppLIB/.cvsignore
3rd/log4cpp/msvc10/log4cppLIB/log4cppLIB.vcxproj
3rd/log4cpp/msvc10/log4cppRunnable/log4cppRunnable.vcxproj
3rd/log4cpp/msvc10/msvc10.sln
3rd/log4cpp/msvc10/NTEventLogCategories.mc
3rd/log4cpp/msvc10/testCategory/.cvsignore
3rd/log4cpp/msvc10/testCategory/testCategory.vcxproj
3rd/log4cpp/msvc10/testDailyRollingFileAppender/testConfig.log4cpp.dailyroll.nt.properties
3rd/log4cpp/msvc10/testDailyRollingFileAppender/testDailyRollingFileAppender.vcxproj
3rd/log4cpp/msvc10/testDailyRollingFileAppender/testDailyRollingFileAppender.vcxproj.user
3rd/log4cpp/msvc10/testDLL/.cvsignore
3rd/log4cpp/msvc10/testDLL/testDLL.vcxproj
3rd/log4cpp/msvc10/testMain/.cvsignore
3rd/log4cpp/msvc10/testMain/testMain.vcxproj
3rd/log4cpp/msvc10/testMain_stlport_boost/testMain_stlport_boost.vcproj
3rd/log4cpp/msvc10/testNDC/.cvsignore
3rd/log4cpp/msvc10/testNDC/testNDC.vcxproj
3rd/log4cpp/msvc10/testNDC_stlport_boost/testNDC_stlport_boost.vcproj
3rd/log4cpp/msvc10/testNTEventLog/.cvsignore
3rd/log4cpp/msvc10/testNTEventLog/testNTEventLog.vcxproj
3rd/log4cpp/msvc10/testNTEventLog_stlport_boost/testNTEventLog_stlport_boost.vcproj
3rd/log4cpp/msvc10/testPattern/.cvsignore
3rd/log4cpp/msvc10/testPattern/testPattern.vcxproj
3rd/log4cpp/msvc10/testPropConfig/.cvsignore
3rd/log4cpp/msvc10/testPropConfig/testPropConfig.vcxproj
3rd/log4cpp/msvc10/testRollingFileAppender/testRollingFileAppender.vcxproj
3rd/log4cpp/msvc10/testRollingFileAppender/testRollingFileAppender.vcxproj.user
3rd/log4cpp/msvc6/.gitattributes
3rd/log4cpp/msvc6/log4cpp/log4cpp.dsp
3rd/log4cpp/msvc6/log4cpp/Makefile.am
3rd/log4cpp/msvc6/log4cppDLL/log4cppDLL.dsp
3rd/log4cpp/msvc6/log4cppDLL/log4cppDLL.rc
3rd/log4cpp/msvc6/log4cppDLL/Makefile.am
3rd/log4cpp/msvc6/log4cppDLL_stlport_boost/log4cppDLL_stlport_boost.dsp
3rd/log4cpp/msvc6/log4cppDLL_stlport_boost/log4cppDLL_stlport_boost.rc
3rd/log4cpp/msvc6/log4cppDLL_stlport_boost/readme.txt
3rd/log4cpp/msvc6/Makefile.am
3rd/log4cpp/msvc6/msvc6.dsw
3rd/log4cpp/msvc6/NTEventLogCategories.mc
3rd/log4cpp/msvc6/testCategory/Makefile.am
3rd/log4cpp/msvc6/testCategory/testCategory.dsp
3rd/log4cpp/msvc6/testDLL/Makefile.am
3rd/log4cpp/msvc6/testDLL/testDLL.dsp
3rd/log4cpp/msvc6/testMain/Makefile.am
3rd/log4cpp/msvc6/testMain/testMain.dsp
3rd/log4cpp/msvc6/testMain_stlport_boost/testMain_stlport_boost.dsp
3rd/log4cpp/msvc6/testNDC/Makefile.am
3rd/log4cpp/msvc6/testNDC/testNDC.dsp
3rd/log4cpp/msvc6/testNDC_stlport_boost/testNDC_stlport_boost.dsp
3rd/log4cpp/msvc6/testNTEventLog/Makefile.am
3rd/log4cpp/msvc6/testNTEventLog/testNTEventLog.dsp
3rd/log4cpp/msvc6/testNTEventLog_stlport_boost/testNTEventLog_stlport_boost.dsp
3rd/log4cpp/msvc6/testPattern/Makefile.am
3rd/log4cpp/msvc6/testPattern/testPattern.dsp
3rd/log4cpp/msvc6/testPropConfig/testPropConfig.dsp
3rd/log4cpp/msvc7/.cvsignore
3rd/log4cpp/msvc7/log4cpp/.cvsignore
3rd/log4cpp/msvc7/log4cpp/log4cpp.vcproj
3rd/log4cpp/msvc7/log4cpp_stlport_boost/log4cpp_stlport_boost.vcproj
3rd/log4cpp/msvc7/log4cpp_stlport_boost/readme.txt
3rd/log4cpp/msvc7/log4cppLIB/.cvsignore
3rd/log4cpp/msvc7/log4cppLIB/log4cppLIB.vcproj
3rd/log4cpp/msvc7/log4cppLIB/Makefile.am
3rd/log4cpp/msvc7/Makefile.am
3rd/log4cpp/msvc7/msvc7.sln
3rd/log4cpp/msvc7/NTEventLogCategories.mc
3rd/log4cpp/msvc7/testCategory/.cvsignore
3rd/log4cpp/msvc7/testCategory/Makefile.am
3rd/log4cpp/msvc7/testCategory/testCategory.vcproj
3rd/log4cpp/msvc7/testDLL/.cvsignore
3rd/log4cpp/msvc7/testDLL/Makefile.am
3rd/log4cpp/msvc7/testDLL/testDLL.vcproj
3rd/log4cpp/msvc7/testMain/.cvsignore
3rd/log4cpp/msvc7/testMain/Makefile.am
3rd/log4cpp/msvc7/testMain/testMain.vcproj
3rd/log4cpp/msvc7/testMain_stlport_boost/testMain_stlport_boost.vcproj
3rd/log4cpp/msvc7/testNDC/.cvsignore
3rd/log4cpp/msvc7/testNDC/Makefile.am
3rd/log4cpp/msvc7/testNDC/testNDC.vcproj
3rd/log4cpp/msvc7/testNDC_stlport_boost/testNDC_stlport_boost.vcproj
3rd/log4cpp/msvc7/testNTEventLog/.cvsignore
3rd/log4cpp/msvc7/testNTEventLog/Makefile.am
3rd/log4cpp/msvc7/testNTEventLog/testNTEventLog.vcproj
3rd/log4cpp/msvc7/testNTEventLog_stlport_boost/testNTEventLog_stlport_boost.vcproj
3rd/log4cpp/msvc7/testPattern/.cvsignore
3rd/log4cpp/msvc7/testPattern/Makefile.am
3rd/log4cpp/msvc7/testPattern/testPattern.vcproj
3rd/log4cpp/msvc7/testPropConfig/.cvsignore
3rd/log4cpp/msvc7/testPropConfig/testPropConfig.vcproj
3rd/log4cpp/NEWS
3rd/log4cpp/openvms/Makefile.am
3rd/log4cpp/README
3rd/log4cpp/src/.cvsignore
3rd/log4cpp/src/AbortAppender.cpp
3rd/log4cpp/src/Appender.cpp
3rd/log4cpp/src/AppendersFactory.cpp
3rd/log4cpp/src/AppenderSkeleton.cpp
3rd/log4cpp/src/BasicConfigurator.cpp
3rd/log4cpp/src/BasicLayout.cpp
3rd/log4cpp/src/BufferingAppender.cpp
3rd/log4cpp/src/Category.cpp
3rd/log4cpp/src/CategoryStream.cpp
3rd/log4cpp/src/Configurator.cpp
3rd/log4cpp/src/DailyRollingFileAppender.cpp
3rd/log4cpp/src/DllMain.cpp
3rd/log4cpp/src/DummyThreads.cpp
3rd/log4cpp/src/FactoryParams.cpp
3rd/log4cpp/src/FileAppender.cpp
3rd/log4cpp/src/Filter.cpp
3rd/log4cpp/src/FixedContextCategory.cpp
3rd/log4cpp/src/HierarchyMaintainer.cpp
3rd/log4cpp/src/IdsaAppender.cpp
3rd/log4cpp/src/LayoutAppender.cpp
3rd/log4cpp/src/LayoutsFactory.cpp
3rd/log4cpp/src/LevelEvaluator.cpp
3rd/log4cpp/src/Localtime.cpp
3rd/log4cpp/src/Localtime.hh
3rd/log4cpp/src/LoggingEvent.cpp
3rd/log4cpp/src/Makefile.am
3rd/log4cpp/src/Manipulator.cpp
3rd/log4cpp/src/MSThreads.cpp
3rd/log4cpp/src/NDC.cpp
3rd/log4cpp/src/NTEventLogAppender.cpp
3rd/log4cpp/src/OmniThreads.cpp
3rd/log4cpp/src/OstreamAppender.cpp
3rd/log4cpp/src/PassThroughLayout.cpp
3rd/log4cpp/src/PatternLayout.cpp
3rd/log4cpp/src/PortabilityImpl.cpp
3rd/log4cpp/src/PortabilityImpl.hh
3rd/log4cpp/src/Priority.cpp
3rd/log4cpp/src/Properties.cpp
3rd/log4cpp/src/Properties.hh
3rd/log4cpp/src/PropertyConfigurator.cpp
3rd/log4cpp/src/PropertyConfiguratorImpl.cpp
3rd/log4cpp/src/PropertyConfiguratorImpl.hh
3rd/log4cpp/src/PThreads.cpp
3rd/log4cpp/src/RemoteSyslogAppender.cpp
3rd/log4cpp/src/RollingFileAppender.cpp
3rd/log4cpp/src/SimpleConfigurator.cpp
3rd/log4cpp/src/SimpleLayout.cpp
3rd/log4cpp/src/SmtpAppender.cpp
3rd/log4cpp/src/snprintf.c
3rd/log4cpp/src/StringQueueAppender.cpp
3rd/log4cpp/src/StringUtil.cpp
3rd/log4cpp/src/StringUtil.hh
3rd/log4cpp/src/SyslogAppender.cpp
3rd/log4cpp/src/TimeStamp.cpp
3rd/log4cpp/src/TriggeringEventEvaluatorFactory.cpp
3rd/log4cpp/src/Win32DebugAppender.cpp
3rd/log4cpp/tests/.cvsignore
3rd/log4cpp/tests/Clock.cpp
3rd/log4cpp/tests/Clock.hh
3rd/log4cpp/tests/jamfile
3rd/log4cpp/tests/log4cpp.init
3rd/log4cpp/tests/log4cpp.nt.property
3rd/log4cpp/tests/log4cpp.properties
3rd/log4cpp/tests/log4cpp.property
3rd/log4cpp/tests/Makefile.am
3rd/log4cpp/tests/NDCTest.hh
3rd/log4cpp/tests/test_convenience.cpp
3rd/log4cpp/tests/testbench.cpp
3rd/log4cpp/tests/testCategory.cpp
3rd/log4cpp/tests/testConfig.cpp
3rd/log4cpp/tests/testConfig.log4cpp.dailyroll.properties
3rd/log4cpp/tests/testConfig.log4cpp.properties
3rd/log4cpp/tests/testDailyRollingFileAppender.cpp
3rd/log4cpp/tests/testDLL.cpp
3rd/log4cpp/tests/testErrorCollision.cpp
3rd/log4cpp/tests/testFilter.cpp
3rd/log4cpp/tests/testFixedContextCategory.cpp
3rd/log4cpp/tests/testmain.cpp
3rd/log4cpp/tests/testNDC.cpp
3rd/log4cpp/tests/testNDCMain.cpp
3rd/log4cpp/tests/testNTEventLog.cpp
3rd/log4cpp/tests/testPattern.cpp
3rd/log4cpp/tests/testPriority.cpp
3rd/log4cpp/tests/testPropConfig.cpp
3rd/log4cpp/tests/testProperties.cpp
3rd/log4cpp/tests/testProperties.properties
3rd/log4cpp/tests/testPropertyConfig.cpp
3rd/log4cpp/tests/testRollingFileAppender.cpp
3rd/log4cpp/THANKS
3rd/log4cpp/TODO
